:root{
  --dark-grey: hsl(234, 12%, 34%);
  --medium-grey: hsl(229, 6%, 66%);
  --light-grey: hsl(0, 0%, 98%);
  --cyan: hsl(180, 62%, 55%);
  --red: hsl(0, 78%, 62%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
}

body{
  margin: 0;
  background-color: var(--light-grey);
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: var(--medium-grey);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3rem;
}

header{
  text-align: center;
  margin: 0 auto;
  letter-spacing: normal;
  max-width: 100%;
  padding: 4.8rem 1.8rem 3.3rem 1.8rem;
}

h1{
  color: var(--dark-grey);
}

.heading{
  font-size: 1.5rem;
}

.slim{
  font-weight: 200;
}

.bold{
  font-weight: 600;
}

.project-description{
  line-height: 1.5rem;
  margin-top: 1.5rem;
}

.cards{
  display: grid;
  grid-template: repeat(4, 1fr) / 1fr;
  max-width: 100%;
  margin: 0;
  padding: 0; /* ? */
}

.card{
  position: relative;
  background-color: white;
  margin: 0.8rem 2rem;
  padding: 1.8rem;
  padding-top: 0.8rem;
  border-radius: 10px;
  border-top: 4px solid;
  -webkit-box-shadow: 0px 15px 22px -4px rgb(216, 226, 238);
  -moz-box-shadow: 0px 15px 22px -4px rgb(216, 226, 238);
  box-shadow: 0px 15px 22px -4px rgb(216, 226, 238);
  grid-column-start: 1;
}

.card::before{
  content: "";
  width: 100%;
  height: 5px;
  background-color: white;
  position: absolute;
  left: 0;
  top: -0.1px;
  display: block;
}

.card-title{
  color: var(--dark-grey);
  font-size: 1.3em;
  line-height: 0;
  letter-spacing: normal;
  padding-top: 0.3rem;
}

.card-description{
  font-size: 12px;
}

.card-icon{
  float: right;
  margin-top: 1.5rem;
  width: 22%;
}

#supervisor{
  grid-row-start: 1;
  border-top-color: var(--cyan);
}

#team-builder{
  grid-row-start: 2;
  border-top-color: var(--red);
}

#karma{
  grid-row-start: 3;
  border-top-color: var(--orange);
}

#calculator{
  grid-row-start: 4;
  border-top-color: var(--blue);
}

/* ---------------- Small Screen --------------- */
@media only screen and (min-width: 600px){
  body{
    line-height: 1.5rem;
  }

  header{
    max-width: 80%;
    padding: 4.2rem 0 0 0;
  }

  .heading{
    line-height: 1.7rem;
    font-size: 2.3rem;
  }

  .project-description{
    margin-top: 1.8rem;
  }

  .cards{
    max-width: 80%;
    margin: 0 auto;
  }

  .card{
    margin: 1rem;
    padding: 2rem;
    padding-top: 1rem;
  }
}

/* ---------------- Medium Screen --------------- */
@media only screen and (min-width: 768px){
  header{
    max-width: 60%;
  }

  .cards{
    max-width: 100%;
  }

  .card{
    margin: 0.8rem auto;
    width: 52%;
  }

  .card-title{
    line-height: 0.4rem;
  }
}

/* ---------------- Large Screen ---------------- */
@media only screen and (min-width: 992px){
  header{
    max-width: 50%;
  }

  .cards{
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    margin: 3rem 1rem;
  }

  .card{
    margin: 1rem;
    width: unset;
  }

  .card-icon{
    margin: 0;
    width: 25%;
  }

  #supervisor{
    grid-column: 1;
    grid-row: 2 / span 2;
  }
  
  #team-builder{
    grid-column: 2;
    grid-row: 1 / span 2;
  }
  
  #karma{
    grid-column: 2;
    grid-row: 3 / span 2;
  }
  
  #calculator{
    grid-column: 3;
    grid-row: 2 / span 2;
  }
}

/* ------------- Extrs Large Screen ------------- */
@media only screen and (min-width: 1200px){
  header{
    max-width: 35%;
  }

  .cards{
    max-width: 79%;
    margin: 3rem auto;
  }

  .card{
    margin: 1rem;
    padding: 2rem;
    padding-top: 1rem;
  }

  .card-icon{
    width: 22%;
  }
}